* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 1.5rem;
    padding: 1rem 2rem;
}

.search-container {
    display: flex;
    gap: 1rem;
}

.profile-container {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}

.title-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.title-container>.profile {
    grid-column: 1 / 2;
    grid-row: span 2;
    font-size: 70px;
    margin-right: 1rem;
}

.actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.actions-container>button {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
    background-color: #1892D5;
    color: white;
    font-weight: bold;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #1892D5;
    color: white;
    padding: 1rem 1rem 0rem 1rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.logo-img {
    font-size: 40px;
}

.sidebar ul {
    padding: 1rem;
}

.sidebar ul li {
    margin-bottom: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #E1E8F0;
}

